*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
  max-width: 100%;
}

/*Header*/
header {
  padding: 20px 0;
}

header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .header-content .header-text {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #0096dc;
}

header .header-content .header-popup-btn {
  width: 170px;
  height: 60px;
  border: 2px solid #58aa35;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .header-content .header-popup-btn .popup-icon {
  margin: 0 10px 0 15px;
}

header .header-content .header-popup-btn .popup-btn-text {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #58aa35;
}

header .header-content .work-time {
  display: flex;
  align-items: center;
}

header .header-content .work-time .work-time-text {
  margin: 0 0 0 20px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #333333;
}

header .header-content .work-time .work-time-text .work-time {
  margin: 5px 0 0;
  font-family: 'Open Sans Semibold';
  font-size: 18px;
}

header .header-content .contacts {
  text-align: end;
}

header .header-content .contacts .phone {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

header .header-content .contacts .phone .number {
  font-family: 'Open Sans Bold';
  font-size: 23px;
  color: #333333;
  text-decoration: none;
  margin: 0 0 0 15px;
}

header .header-content .contacts .call-link {
  margin: 10px 0 0;
  font-family: 'Open Sans Regular';
  font-size: 15px;
  color: #0089cc;
  text-decoration: underline;
  cursor: pointer;
}

/*Intro*/
.intro {
  background: url("../images/header/header-background.jpg") center no-repeat;
  background-size: cover;
}

.intro .intro-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
}

.intro .intro-content .intro-title {
  margin: 0;
  font-family: 'Open Sans Bold';
  font-size: 26px;
  color: #333333;
}

.intro .intro-content .intro-subtitle {
  margin: 40px 0;
  font-family: 'Open Sans Bold';
  font-size: 55px;
  color: #333333;
}

.intro .intro-content .intro-icons {
  margin: 130px 0 0;
}

.intro .intro-content .intro-icons .intro-icon {
  margin: 0 20px 0 0;
}

.intro .intro-content .intro-icons .intro-icon:nth-child(4) {
  margin: 0 0 0 0;
}

.intro .intro-content .call-engineer-form {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 370px;
  height: 442px;
  border-radius: 10px;
  background-color: #ffffff;
}

.intro .intro-content .call-engineer-form .form-title {
  font-family: 'Open Sans Bold';
  font-size: 20px;
  line-height: 38px;
  color: #333333;
}

.intro .intro-content .call-engineer-form .form-title .form-subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

.intro .intro-content .call-engineer-form .name-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 10px auto 0;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.intro .intro-content .call-engineer-form .phone-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 20px auto;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.intro .intro-content .call-engineer-form .send-btn {
  width: 270px;
  height: 80px;
  font-family: 'Open Sans Bold';
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  outline: none;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  cursor: pointer;
}

.intro .intro-content .call-engineer-form .form-notice {
  font-family: 'Open Sans Regular';
  font-size: 11px;
  color: #666666;
  margin: 20px auto 0;
}

/*Our works*/
.our-works {
  padding: 0 0 60px;
}

.our-works .our-works-header {
  text-align: center;
}

.our-works .our-works-header .our-works-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #333333;
  margin: 80px auto 30px;
}

.our-works .our-works-header .our-works-line {
  margin: 0 0 80px;
}

.our-works .our-works-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-works .our-works-items .our-works-item {
  position: relative;
  margin: 0 30px 30px 0;
  width: 270px;
  cursor: pointer;
}

.our-works .our-works-items .our-works-item .zoom-icon {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  display: none;
}

.our-works .our-works-items .our-works-item .our-works-img {
  width: 100%;
}

.our-works .our-works-items .our-works-item:nth-child(4), .our-works .our-works-items .our-works-item:nth-child(8) {
  margin: 0 0 30px 0;
}

.our-works .our-works-items .our-works-item:hover .zoom-icon {
  display: block;
}

/*Guarantees*/
.guarantees {
  padding: 80px 0;
  background-color: #1192d0;
}

.guarantees .guarantees-header {
  text-align: center;
}

.guarantees .guarantees-header .guarantees-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.guarantees .guarantees-header .guarantees-line {
  margin: 0 0 70px 0;
}

.guarantees .guarantees-body {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.guarantees .guarantees-body .guarantees-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.guarantees .guarantees-body .guarantees-items .guarantees-item {
  width: 33.3%;
  text-align: center;
}

.guarantees .guarantees-body .guarantees-items .guarantees-item .guarantees-text {
  font-family: 'Open Sans Semibold';
  color: #ffffff;
}

.guarantees .guarantees-body .guarantees-items .guarantees-item:nth-child(1), .guarantees .guarantees-body .guarantees-items .guarantees-item:nth-child(2), .guarantees .guarantees-body .guarantees-items .guarantees-item:nth-child(3) {
  margin: 0 0 100px;
}

/*Payment options*/
.payment-options {
  padding: 80px 0;
}

.payment-options .payment-header {
  text-align: center;
  margin: 0 0 80px 0;
}

.payment-options .payment-header .payment-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #333333;
}

.payment-options .payment-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.payment-options .payment-items .payment-item {
  width: 300px;
  display: flex;
  align-items: center;
}

.payment-options .payment-items .payment-item .payment-item-img {
  margin: 0 40px 0 0;
}

.payment-options .payment-items .payment-item .payment-item-text {
  font-size: 18px;
  font-family: 'Open Sans Regular';
  color: #000000;
}

/*Questions*/
.questions {
  background-color: #00a0eb;
  padding: 80px 0;
}

.questions .questions-body {
  margin: 0 auto;
  width: 830px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questions .questions-body .questions-title {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  color: #ffffff;
}

.questions .questions-body .questions-link {
  font-family: 'Open Sans Semibold';
  font-size: 30px;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

/*Footer*/
footer {
  padding: 40px 0;
}

footer .footer-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer .footer-body .copyright {
  font-family: 'Open Sans Regular';
  font-size: 15px;
  color: #000000;
}

footer .footer-body .footer-contacts {
  text-align: end;
}

footer .footer-body .footer-contacts .footer-phone {
  font-family: 'Open Sans Bold';
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}

footer .footer-body .footer-contacts .footer-email {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  margin: 10px 0 0 0;
  color: #42a1db;
}

/*Modals*/
.popup, .popup-engineer, .popup-calc, .popup-calc-profile, .popup-calc-end {
  display: none;
}
/*# sourceMappingURL=index.css.map */