*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
  max-width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #333333;
  opacity: 0.7;
}

.overlay-visible {
  display: block;
}

/*Header*/
header {
  padding: 20px 0;
}

header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .header-content .header-text {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #0096dc;
}

header .header-content .header-popup-btn {
  width: 170px;
  height: 60px;
  border: 2px solid #58aa35;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .header-content .header-popup-btn .popup-icon {
  margin: 0 10px 0 15px;
}

header .header-content .header-popup-btn .popup-btn-text {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #58aa35;
}

header .header-content .work-time {
  display: flex;
  align-items: center;
}

header .header-content .work-time .work-time-text {
  margin: 0 0 0 20px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #333333;
}

header .header-content .work-time .work-time-text .work-time {
  margin: 5px 0 0;
  font-family: 'Open Sans Semibold';
  font-size: 18px;
}

header .header-content .contacts {
  text-align: end;
}

header .header-content .contacts .phone {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

header .header-content .contacts .phone .number {
  font-family: 'Open Sans Bold';
  font-size: 23px;
  color: #333333;
  text-decoration: none;
  margin: 0 0 0 15px;
}

header .header-content .contacts .call-link {
  margin: 10px 0 0;
  font-family: 'Open Sans Regular';
  font-size: 15px;
  color: #0089cc;
  text-decoration: underline;
  cursor: pointer;
}

/*Intro*/
.intro {
  background: url("../images/header/header-background.jpg") center no-repeat;
  background-size: cover;
}

.intro .intro-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
}

.intro .intro-content .intro-title {
  margin: 0;
  font-family: 'Open Sans Bold';
  font-size: 26px;
  color: #333333;
}

.intro .intro-content .intro-subtitle {
  margin: 40px 0;
  font-family: 'Open Sans Bold';
  font-size: 55px;
  color: #333333;
}

.intro .intro-content .intro-icons {
  margin: 130px 0 0;
}

.intro .intro-content .intro-icons .intro-icon {
  margin: 0 20px 0 0;
}

.intro .intro-content .intro-icons .intro-icon:nth-child(4) {
  margin: 0 0 0 0;
}

.intro .intro-content .call-engineer-form {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 370px;
  height: 442px;
  border-radius: 10px;
  background-color: #ffffff;
}

.intro .intro-content .call-engineer-form .form-title {
  font-family: 'Open Sans Bold';
  font-size: 20px;
  line-height: 38px;
  color: #333333;
}

.intro .intro-content .call-engineer-form .form-title .form-subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

.intro .intro-content .call-engineer-form .name-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 10px auto 0;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.intro .intro-content .call-engineer-form .phone-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 20px auto;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.intro .intro-content .call-engineer-form .send-btn {
  width: 270px;
  height: 80px;
  font-family: 'Open Sans Bold';
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  outline: none;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  cursor: pointer;
}

.intro .intro-content .call-engineer-form .form-notice {
  font-family: 'Open Sans Regular';
  font-size: 11px;
  color: #666666;
  margin: 20px auto 0;
}

/*Glazing*/
.glazing {
  padding: 80px 0 100px;
}

.glazing .glazing-header {
  text-align: center;
}

.glazing .glazing-header .glazing-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #333333;
  margin: 0 auto 30px;
  text-transform: uppercase;
}

.glazing .glazing-header .glazing-line {
  margin: 0 0 80px;
}

.glazing .slider-wrapper {
  display: none;
  align-items: center;
}

.glazing .slider-wrapper .decoration-next-arrow, .glazing .slider-wrapper .decoration-prev-arrow {
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.glazing .glazing-tabs, .glazing .glazing-slider {
  min-width: 0;
  margin: 0 auto;
  width: 1020px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.glazing .glazing-tabs .slick-list, .glazing .glazing-slider .slick-list {
  overflow: hidden;
}

.glazing .glazing-tabs .slick-list .slick-track, .glazing .glazing-slider .slick-list .slick-track {
  display: flex;
}

.glazing .glazing-tabs .slick-list .slick-track .slick-slide, .glazing .glazing-slider .slick-list .slick-track .slick-slide {
  outline: none;
}

.glazing .glazing-tabs .tab-item, .glazing .glazing-slider .tab-item {
  cursor: pointer;
  text-align: center;
}

.glazing .glazing-tabs .tab-item .tab-item-info, .glazing .glazing-slider .tab-item .tab-item-info {
  margin: 20px 0 0;
  font-family: 'Open Sans Semibold';
  color: #249ae6;
  font-size: 18px;
  line-height: 26px;
  text-decoration: underline;
  transition: all 0.2s;
}

.glazing .glazing-tabs .tab-item:hover .tab-item-info, .glazing .glazing-slider .tab-item:hover .tab-item-info {
  color: #464646;
  text-decoration: none;
}

.glazing .glazing-items {
  margin: 35px 0 0;
  justify-content: center;
  max-width: 100%;
  display: none;
}

.glazing .glazing-items .glazing-item {
  width: 50%;
}

.glazing .glazing-items .glazing-item .inner-wrapper {
  margin: 0 auto;
  max-width: 466px;
}

.glazing .glazing-items .glazing-item .glazing-item-img {
  max-width: 100%;
}

.glazing .glazing-items .glazing-item .glazing-item-title {
  text-align: center;
  margin: 25px auto;
  font-family: 'Open Sans Bold';
  font-size: 20px;
}

.glazing .glazing-items .glazing-item .title-cold {
  color: #0d8fe3;
}

.glazing .glazing-items .glazing-item .title-warm {
  color: #ffb903;
}

.glazing .glazing-items .glazing-item .parameters {
  margin: 25px 0 0 0;
}

.glazing .glazing-items .glazing-item .parameters .parameters-item {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}

.glazing .glazing-items .glazing-item .parameters .parameters-item .parametres-item-text {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #000000;
  margin: 0 0 0 15px;
}

.glazing .glazing-items .glazing-item .price-body {
  margin: 35px 0 0 0;
  display: flex;
  align-items: center;
}

.glazing .glazing-items .glazing-item .price-body .price-info {
  margin: 0 44px 0 0;
}

.glazing .glazing-items .glazing-item .price-body .price-info .price {
  margin: 0 0 10px 0;
  font-family: "Open Sans Bold";
  font-size: 20px;
  color: #000000;
}

.glazing .glazing-items .glazing-item .price-body .price-info .price-notice {
  margin: 0;
  font-family: "Open Sans Regular";
  font-size: 14px;
  color: #000000;
}

.glazing .glazing-items .glazing-item .price-body .calc-price-button {
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  width: 262px;
  height: 65px;
  border: 1px solid #ffc600;
  border-radius: 10px;
  outline: none;
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  cursor: pointer;
  font-family: "Open Sans Condensed";
  font-size: 19px;
}

.glazing .glazing-items .cold {
  position: relative;
  border-top: 5px solid #0d8fe3;
  border-top-left-radius: 5px;
  background: url("../images/glazing/background-cold.png") no-repeat;
  background-size: cover;
}

.glazing .glazing-items .cold::before {
  content: "";
  position: absolute;
  left: 50%;
  border: 6px solid transparent;
  border-top: 6px solid #0d8fe3;
  transform: translateX(-50%);
}

.glazing .glazing-items .warm {
  position: relative;
  border-top: 5px solid #ffb903;
  border-top-right-radius: 5px;
  background: url("../images/glazing/background-warm.png") no-repeat;
  background-size: cover;
}

.glazing .glazing-items .warm::before {
  content: "";
  position: absolute;
  left: 50%;
  border: 6px solid transparent;
  border-top: 6px solid #ffb903;
  transform: translateX(-50%);
}

.glazing .visible {
  display: flex;
}

/*Decoration*/
.decoration {
  background-color: #f7f7f7;
  padding: 80px 0;
}

.decoration .decoration-header {
  text-align: center;
}

.decoration .decoration-header .decoration-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #333333;
  margin: 0 auto 30px;
  text-transform: uppercase;
}

.decoration .decoration-header .decoration-line {
  margin: 0 0 80px;
}

.decoration .decoration-slider-wrapper {
  display: none;
  align-items: center;
}

.decoration .decoration-slider-wrapper .next-arrow, .decoration .decoration-slider-wrapper .prev-arrow {
  width: 30px;
  height: 50px;
  cursor: pointer;
  margin: -40px 10px 0 10px;
}

.decoration .decoration-tabs, .decoration .decoration-slider {
  min-width: 0;
  margin: 0 0 40px;
  display: flex;
}

.decoration .decoration-tabs .slick-list, .decoration .decoration-slider .slick-list {
  overflow: hidden;
}

.decoration .decoration-tabs .slick-list .slick-track, .decoration .decoration-slider .slick-list .slick-track {
  display: flex;
}

.decoration .decoration-tabs .slick-list .slick-track .slick-slide, .decoration .decoration-slider .slick-list .slick-track .slick-slide {
  outline: none;
}

.decoration .decoration-tabs .tab, .decoration .decoration-slider .tab {
  position: relative;
  width: 300px;
  height: 100px;
  font-family: 'Open Sans Regular';
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-decoration: underline dotted #000000;
  line-height: 100px;
  cursor: pointer;
}

.decoration .decoration-tabs .active, .decoration .decoration-slider .active {
  background-color: #ededed;
  border-top: 10px solid #0085db;
  line-height: 80px;
  color: #0085db;
  text-decoration: none;
}

.decoration .decoration-tabs .active::after, .decoration .decoration-slider .active::after {
  content: "";
  position: absolute;
  left: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #0085db;
  transform: translateX(-50%);
}

.decoration .decoration-content {
  display: flex;
  justify-content: space-between;
}

.decoration .decoration-content .decoration-item {
  display: none;
  align-items: center;
}

.decoration .decoration-content .decoration-item .decoration-item-content {
  margin: 0 0 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.decoration .decoration-content .decoration-item .decoration-item-content .decoration-variable {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.decoration .decoration-content .decoration-item .decoration-item-content .decoration-variable .title {
  margin: 10px 0 0 0;
  font-family: "Open Sans Regular";
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.decoration .decoration-content .decoration-item .decoration-item-content .decoration-variable .price {
  margin: 10px 0 0 0;
  font-family: "Open Sans Bold";
  font-size: 14px;
  color: #0d8fe3;
}

.decoration .decoration-content .decoration-item .decoration-item-content .decoration-variable .notice {
  margin: 0;
  font-family: "Open Sans Regular";
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.decoration .decoration-content .decoration-item .decoration-item-content .decoration-variable:nth-child(4), .decoration .decoration-content .decoration-item .decoration-item-content .decoration-variable:nth-child(5) {
  margin: 60px 0 0 0;
}

.decoration .decoration-content .visible {
  display: flex;
}

.decoration .decoration-content .call-engineer-form {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 370px;
  height: 442px;
  border-radius: 10px;
  background-color: #ffffff;
}

.decoration .decoration-content .call-engineer-form .form-title {
  font-family: 'Open Sans Bold';
  font-size: 20px;
  line-height: 38px;
  color: #333333;
}

.decoration .decoration-content .call-engineer-form .form-title .form-subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

.decoration .decoration-content .call-engineer-form .name-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 10px auto 0;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.decoration .decoration-content .call-engineer-form .phone-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 20px auto;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.decoration .decoration-content .call-engineer-form .send-btn {
  width: 270px;
  height: 80px;
  font-family: 'Open Sans Bold';
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  outline: none;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  cursor: pointer;
}

.decoration .decoration-content .call-engineer-form .form-notice {
  font-family: 'Open Sans Regular';
  font-size: 11px;
  color: #666666;
  margin: 20px auto 0;
}

/*Our works*/
.our-works {
  padding: 0 0 60px;
}

.our-works .our-works-header {
  text-align: center;
}

.our-works .our-works-header .our-works-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #333333;
  margin: 80px auto 30px;
}

.our-works .our-works-header .our-works-line {
  margin: 0 0 80px;
}

.our-works .our-works-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-works .our-works-items .our-works-item {
  position: relative;
  margin: 0 30px 30px 0;
  width: 270px;
  cursor: pointer;
}

.our-works .our-works-items .our-works-item .zoom-icon {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

.our-works .our-works-items .our-works-item .our-works-img {
  width: 100%;
}

.our-works .our-works-items .our-works-item:nth-child(4), .our-works .our-works-items .our-works-item:nth-child(8) {
  margin: 0 0 30px 0;
}

.our-works .our-works-items .our-works-item:hover .zoom-icon {
  opacity: 1;
}

/*Guarantees*/
.guarantees {
  padding: 80px 0;
  background-color: #1192d0;
}

.guarantees .guarantees-header {
  text-align: center;
}

.guarantees .guarantees-header .guarantees-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.guarantees .guarantees-header .guarantees-line {
  margin: 0 0 70px 0;
}

.guarantees .guarantees-body {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.guarantees .guarantees-body .guarantees-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.guarantees .guarantees-body .guarantees-items .guarantees-item {
  width: 33.3%;
  text-align: center;
}

.guarantees .guarantees-body .guarantees-items .guarantees-item .guarantees-text {
  font-family: 'Open Sans Semibold';
  color: #ffffff;
}

.guarantees .guarantees-body .guarantees-items .guarantees-item:nth-child(1), .guarantees .guarantees-body .guarantees-items .guarantees-item:nth-child(2), .guarantees .guarantees-body .guarantees-items .guarantees-item:nth-child(3) {
  margin: 0 0 100px;
}

/*Payment options*/
.payment-options {
  padding: 80px 0;
}

.payment-options .payment-header {
  text-align: center;
  margin: 0 0 80px 0;
}

.payment-options .payment-header .payment-title {
  font-family: 'Open Sans Bold';
  font-size: 30px;
  color: #333333;
}

.payment-options .payment-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.payment-options .payment-items .payment-item {
  width: 300px;
  display: flex;
  align-items: center;
}

.payment-options .payment-items .payment-item .payment-item-img {
  margin: 0 40px 0 0;
}

.payment-options .payment-items .payment-item .payment-item-text {
  font-size: 18px;
  font-family: 'Open Sans Regular';
  color: #000000;
}

/*Special offer*/
.special-offer {
  background: url("../images/special-offer/special-offer-background.jpg") center no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.special-offer .special-offer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.special-offer .special-offer-content .special-offer-title {
  font-family: 'Open Sans Bold';
  margin: 0;
  font-size: 48px;
  color: #008cce;
}

.special-offer .special-offer-content .special-offer-text {
  font-family: 'Open Sans Regular';
  margin: 80px 0;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.special-offer .special-offer-content .timer-body {
  width: 260px;
  height: 160px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  text-align: center;
}

.special-offer .special-offer-content .timer-body .timer-title {
  font-family: 'Open Sans Regular';
  margin: 20px 0;
  font-size: 14px;
  color: #000000;
}

.special-offer .special-offer-content .timer-body .timer {
  margin: 0 auto;
  width: 210px;
  display: flex;
  justify-content: space-between;
}

.special-offer .special-offer-content .timer-body .timer .timer-section {
  width: 40px;
  height: 52px;
  border-radius: 10px;
  background-color: #1a1a1a;
  font-family: 'Open Sans Regular';
  font-size: 28px;
  text-align: center;
  line-height: 52px;
  color: #efefef;
}

.special-offer .special-offer-content .timer-body .timer-notice {
  margin: 15px auto 0;
  width: 210px;
  font-family: 'Open Sans Semibold';
  font-size: 13px;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.special-offer .special-offer-content .timer-body .timer-notice .notice-text:nth-child(1) {
  margin: 0 15px 0 5px;
}

.special-offer .special-offer-content .timer-body .timer-notice .notice-text:nth-child(2) {
  margin: 0 10px 0 5px;
}

.special-offer .special-offer-content .timer-body .timer-notice .notice-text:nth-child(3) {
  margin: 0 5px 0 0;
}

.special-offer .special-offer-content .call-engineer-form {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 370px;
  height: 442px;
  border-radius: 10px;
  background-color: #ffffff;
}

.special-offer .special-offer-content .call-engineer-form .form-title {
  font-family: 'Open Sans Bold';
  font-size: 20px;
  line-height: 38px;
  color: #333333;
}

.special-offer .special-offer-content .call-engineer-form .form-title .form-subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

.special-offer .special-offer-content .call-engineer-form .name-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 10px auto 0;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.special-offer .special-offer-content .call-engineer-form .phone-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 20px auto;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.special-offer .special-offer-content .call-engineer-form .send-btn {
  width: 270px;
  height: 80px;
  font-family: 'Open Sans Bold';
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  outline: none;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  cursor: pointer;
}

.special-offer .special-offer-content .call-engineer-form .form-notice {
  font-family: 'Open Sans Regular';
  font-size: 11px;
  color: #666666;
  margin: 20px auto 0;
}

/*Contacts*/
.our-contacts {
  padding: 80px 0;
}

.our-contacts .contacts-header {
  text-align: center;
}

.our-contacts .contacts-header .contacts-title {
  font-family: 'Opne Sans Bold';
  font-size: 30px;
  color: #333333;
  margin: 0 0 10px;
}

.our-contacts .contacts-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 0 0;
}

.our-contacts .contacts-content iframe {
  width: 569px;
  height: 467px;
  max-width: 100%;
  border: none;
}

.our-contacts .contacts-content .contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 467px;
}

.our-contacts .contacts-content .contacts-info .contact-title {
  font-family: 'Open Sans Regular';
  font-size: 15px;
  color: #008cce;
  margin: 0 0 20px;
}

.our-contacts .contacts-content .first-address-text, .our-contacts .contacts-content .second-address-text {
  font-family: 'Open Sans Semibold';
  font-size: 18px;
  color: #000000;
  margin: 20px 0 0;
}

.our-contacts .contacts-content .phone-link, .our-contacts .contacts-content .email-link, .our-contacts .contacts-content .work-time-text {
  font-family: 'Open Sans Semibold';
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  margin: 20px 0 0;
}

/*Questions*/
.questions {
  background-color: #00a0eb;
  padding: 80px 0;
}

.questions .questions-body {
  margin: 0 auto;
  width: 830px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questions .questions-body .questions-title {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  color: #ffffff;
}

.questions .questions-body .questions-link {
  font-family: 'Open Sans Semibold';
  font-size: 30px;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

/*Footer*/
footer {
  padding: 40px 0;
}

footer .footer-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer .footer-body .copyright {
  font-family: 'Open Sans Regular';
  font-size: 15px;
  color: #000000;
}

footer .footer-body .footer-contacts {
  text-align: end;
}

footer .footer-body .footer-contacts .footer-phone {
  font-family: 'Open Sans Bold';
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}

footer .footer-body .footer-contacts .footer-email {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  margin: 10px 0 0 0;
  color: #42a1db;
}

/*Scroll*/
.scroll-btn {
  display: none;
  padding: 12px 0 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0576ab;
  cursor: pointer;
  text-align: center;
}

.scroll-btn .scroll-arrow {
  width: 40px;
  height: 30px;
}

.visible {
  display: block;
}

/*Modals*/
.popup, .popup-engineer, .popup-calc-end {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup .popup-dialog, .popup-engineer .popup-dialog, .popup-calc-end .popup-dialog {
  width: 100%;
  height: 100%;
}

.popup .popup-content, .popup-engineer .popup-content, .popup-calc-end .popup-content {
  width: 100%;
  height: 100%;
}

.popup .popup-form, .popup-engineer .popup-form, .popup-calc-end .popup-form {
  width: 100%;
  height: 100%;
}

.popup .form, .popup-engineer .form, .popup-calc-end .form {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 370px;
  height: 442px;
  background-color: #ffffff;
}

.popup .form .popup-close, .popup-engineer .form .popup-close, .popup-calc-end .form .popup-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 90%;
  width: 30px;
  font-size: 40px;
  height: 30px;
  outline: none;
  cursor: pointer;
}

.popup .form .form-title, .popup-engineer .form .form-title, .popup-calc-end .form .form-title {
  font-family: 'Open Sans Bold';
  font-size: 20px;
  line-height: 38px;
  color: #333333;
}

.popup .form .form-title .form-subtitle, .popup-engineer .form .form-title .form-subtitle, .popup-calc-end .form .form-title .form-subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

.popup .form .form-title .popup-subtitle, .popup-engineer .form .form-title .popup-subtitle, .popup-calc-end .form .form-title .popup-subtitle {
  font-size: 20px;
}

.popup .form .name-input, .popup-engineer .form .name-input, .popup-calc-end .form .name-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 10px auto 0;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.popup .form .phone-input, .popup-engineer .form .phone-input, .popup-calc-end .form .phone-input {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin: 20px auto;
  outline: none;
  text-align: center;
  font-family: 'Open Sans Regular';
  color: #999999;
  font-size: 15px;
}

.popup .form .send-btn, .popup-engineer .form .send-btn, .popup-calc-end .form .send-btn {
  width: 270px;
  height: 80px;
  font-family: 'Open Sans Bold';
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  outline: none;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  cursor: pointer;
}

.popup .form .form-notice, .popup-engineer .form .form-notice, .popup-calc-end .form .form-notice {
  font-family: 'Open Sans Regular';
  font-size: 11px;
  color: #666666;
  margin: 20px auto 0;
}

.popup-calc {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #ffffff;
}

.popup-calc .popup-calc-content {
  padding: 0 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup-calc .popup-calc-content .popup-calc-title {
  font-family: 'Open Sans Bold';
  margin: 20px 0 0;
  color: #333333;
  font-size: 32px;
}

.popup-calc .popup-calc-content .popup-calc-subtitle {
  font-family: 'Open Sans Bold';
  margin: 15px 0 30px;
  color: #333333;
  font-size: 16px;
}

.popup-calc .popup-calc-content .popup-calc-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 90%;
  width: 30px;
  font-size: 40px;
  height: 30px;
  outline: none;
  cursor: pointer;
}

.popup-calc .popup-calc-content .balcon-icons {
  display: flex;
  align-items: center;
}

.popup-calc .popup-calc-content .balcon-icons .balcon-icons-img {
  cursor: pointer;
}

.popup-calc .popup-calc-content .balcon-icons .balcon-icons-img .active {
  width: 120px;
  height: 70px;
}

.popup-calc .popup-calc-content .balcon-icons .balcon-icons-img img {
  width: 80px;
  height: 50px;
}

.popup-calc .popup-calc-content .big-img {
  text-align: center;
  margin: 0 0 30px 0;
}

.popup-calc .popup-calc-content .big-img .big-img-icon {
  max-height: 200px;
  display: none;
}

.popup-calc .popup-calc-content .big-img .visible {
  display: block;
}

.popup-calc .popup-calc-content .parameters {
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
}

.popup-calc .popup-calc-content .parameters .form-control {
  font-family: 'Open Sans Regular';
  outline: none;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #777777;
  border-radius: 5px;
  padding: 0 0 0 15px;
  color: #333333;
  font-size: 14px;
}

.popup-calc .popup-calc-content .parameters .form-control-notice {
  font-family: 'Open Sans Regular';
  color: #333333;
  font-size: 14px;
  margin: 0 0 0 10px;
}

.popup-calc .popup-calc-content .parameters .multiplication {
  font-size: 20px;
  margin: 0 10px;
}

.popup-calc .popup-calc-content .popup-calc-next-button {
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Open Sans Condensed';
  font-weight: 400;
  background: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
}

.popup-calc-profile {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #ffffff;
}

.popup-calc-profile .popup-calc-profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.popup-calc-profile .popup-calc-profile-content .popup-calc-title {
  font-family: 'Open Sans Bold';
  margin: 0;
  color: #333333;
  font-size: 28px;
}

.popup-calc-profile .popup-calc-profile-content .popup-calc-subtitle {
  font-family: 'Open Sans Bold';
  margin: 15px 0 30px;
  color: #333333;
  font-size: 16px;
}

.popup-calc-profile .popup-calc-profile-content .form-control {
  outline: none;
  cursor: pointer;
  padding: 2px 0 2px 5px;
  border-radius: 5px;
  font-family: 'Open Sans Regular';
  color: #333333;
  border: 1px solid #777777;
  margin: 0 0 10px;
}

.popup-calc-profile .popup-calc-profile-content .select-img {
  margin: 0 0 5px 0;
}

.popup-calc-profile .popup-calc-profile-content label {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.popup-calc-profile .popup-calc-profile-content label .label {
  font-family: 'Open Sans Regular';
  color: #000000;
  font-size: 14px;
  margin: 0 0 0 15px;
  cursor: pointer;
}

.popup-calc-profile .popup-calc-profile-content label .checkbox {
  opacity: 0;
}

.popup-calc-profile .popup-calc-profile-content label .checkbox:checked + #cold {
  background: url("../images/modal-calc/check-cold.png") center no-repeat;
}

.popup-calc-profile .popup-calc-profile-content label .checkbox:checked + #warm {
  background: url("../images/modal-calc/check-warm.png") center no-repeat;
}

.popup-calc-profile .popup-calc-profile-content label .checkbox-custom {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #777777;
  border-radius: 3px;
  cursor: pointer;
}

.popup-calc-profile .popup-calc-profile-content .popup-calc-profile-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 87%;
  width: 30px;
  font-size: 40px;
  height: 30px;
  outline: none;
  cursor: pointer;
}

.popup-calc-profile .popup-calc-profile-content .popup-calc-profile-next-button {
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Open Sans Condensed';
  font-weight: 400;
  background: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
}

.popup, .popup-engineer, .popup-calc, .popup-calc-profile, .popup-calc-end {
  display: none;
}

/*Media*/
@media (max-width: 1200px) {
  /*Glazing*/
  .glazing {
    padding: 40px 0 50px;
  }
  .glazing .slider-wrapper {
    display: flex;
  }
  .glazing .glazing-tabs {
    display: none;
  }
  .glazing .visible {
    display: flex;
  }
  /*Our contacts*/
  .our-contacts {
    padding: 40px 0;
  }
  .our-contacts .contacts-line {
    margin: 20 0 40px 0;
  }
  .our-contacts .contacts-content {
    justify-content: space-around;
    margin: 30px 0 0;
    text-align: center;
  }
  .our-contacts .contacts-content iframe {
    margin: 0 0 20px 0;
  }
  .our-contacts .contacts-content .contacts-info .contact-title {
    margin: 0 0 5px 0;
  }
  .our-contacts .contacts-content .first-address-text, .our-contacts .contacts-content .second-address-text {
    margin: 0;
  }
  .our-contacts .contacts-content .phone-link, .our-contacts .contacts-content .email-link, .our-contacts .contacts-content .work-time-text {
    margin: 0;
  }
}

@media (max-width: 990px) {
  /*Header*/
  header .header-content {
    justify-content: space-around;
  }
  header .header-content .header-text {
    margin: 0 10px;
  }
  header .header-content .work-time {
    margin: 0 10px;
  }
  header .header-content .contacts .phone {
    margin: 20px 0 10px;
  }
  /*Intro*/
  .intro .intro-content {
    text-align: center;
    justify-content: space-around;
    padding: 50px 0;
  }
  .intro .intro-content .call-engineer-form {
    margin: 20px 0 0 20px;
  }
  /*Glazing*/
  .glazing .glazing-header .glazing-title {
    font-size: 24px;
  }
  .glazing .glazing-header .glazing-line {
    margin: 0 0 20px;
  }
  .glazing .cold {
    border-top-right-radius: 5px;
  }
  .glazing .warm {
    border-top-right-radius: 5px;
  }
  .glazing .glazing-items {
    flex-wrap: wrap;
    margin: 0;
  }
  .glazing .glazing-items .glazing-item {
    width: 100%;
    margin: 40px 0 0 0;
  }
  /*Questions*/
  .questions {
    padding: 40px 0;
  }
  .questions .questions-body {
    justify-content: space-around;
    text-align: center;
  }
}

@media (max-width: 770px) {
  /*Header*/
  header .header-content {
    justify-content: space-around;
  }
  header .header-content .header-text {
    margin: 0 10px;
  }
  header .header-content .work-time {
    margin: 0 10px;
  }
  header .header-content .contacts .phone {
    margin: 20px 0 10px;
  }
}

@media (max-width: 575px) {
  /*Header*/
  header .header-content {
    justify-content: space-around;
  }
  header .header-content .header-logo {
    margin: 15px 0;
  }
  header .header-content .header-text {
    margin: 15px 10px;
  }
  header .header-content .work-time {
    margin: 15px 10px;
  }
  header .header-content .contacts .phone {
    margin: 10px 0 10px;
  }
  /*Intro*/
  .intro .intro-content {
    padding: 30px 0;
  }
  .intro .intro-content .intro-title {
    font-size: 20px;
  }
  .intro .intro-content .intro-subtitle {
    margin: 0;
    font-size: 45px;
  }
  .intro .intro-content .intro-icons {
    margin: 80px 0 0;
  }
  .intro .intro-content .intro-icons .intro-icon {
    margin: 0;
  }
  .intro .intro-content .call-engineer-form {
    margin: 20px 0 0 0;
  }
  .intro .intro-content .call-engineer-form .form-title {
    font-size: 18px;
  }
  .intro .intro-content .call-engineer-form .form-title .form-subtitle {
    font-size: 20px;
  }
  /*Glazing*/
  .glazing .glazing-items .glazing-item .glazing-item-img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }
  .glazing .glazing-items .glazing-item .parameters .parameters-item .parametres-item-text {
    font-size: 12px;
  }
  .glazing .glazing-items .glazing-item .price-body {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
  }
  .glazing .glazing-items .glazing-item .price-body .price-info {
    margin: 0 5px 5px 0;
  }
  .glazing .glazing-items .glazing-item .price-body .price-info .price {
    margin: 0 0 5px 0;
    font-size: 14px;
  }
  .glazing .glazing-items .glazing-item .price-body .price-info .price-notice {
    font-size: 10px;
  }
  .glazing .glazing-items .glazing-item .price-body .calc-price-button {
    font-size: 14px;
    max-width: 60%;
  }
  /*Questions*/
  .questions {
    padding: 0;
  }
  /*Footer*/
  footer {
    padding: 10px 0;
  }
  footer .footer-body {
    text-align: center;
    justify-content: space-around;
  }
  footer .footer-body .footer-contacts {
    text-align: center;
    margin: 15px 0;
  }
  footer .footer-body .footer-logo {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=index.css.map */