*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    max-width: 100%;
}

/*Our works*/
.our-works {
    padding: 0 0 60px;

    .our-works-header {
        text-align: center;

        .our-works-title {
            font-family: 'Open Sans Bold';
            font-size: 32px;
            color: #333333;
            margin: 80px auto 30px ;
        }
        
        .our-works-line {
            margin: 0 0 80px;
        }
    }

    .our-works-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .our-works-item {
            position: relative;
            margin: 0 30px 30px 0;
            width: 270px;
            cursor: pointer;

            .zoom-icon {
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                position: absolute;
                display: none;
            }

            .our-works-img {
                width: 100%;
            }
        }
        
        .our-works-item:nth-child(4), .our-works-item:nth-child(8) {
            margin: 0 0 30px 0;
        }

        .our-works-item:hover .zoom-icon {
            display: block;
        }
    }
}

/*Guarantees*/
.guarantees {
    padding: 80px 0;
    background-color: #1192d0;

    .guarantees-header {
        text-align: center;

        .guarantees-title {
            font-family: 'Open Sans Bold';
            font-size: 32px;
            color: #ffffff;
            margin: 0 0 20px 0;
        }

        .guarantees-line {
            margin: 0 0 70px 0;
        }
    }

    .guarantees-body {
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;

        .guarantees-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .guarantees-item {
                width: 33.3%;
                text-align: center;

                .guarantees-text {
                    font-family: 'Open Sans Semibold';
                    color: #ffffff;
                }
            }

            .guarantees-item:nth-child(1), .guarantees-item:nth-child(2), .guarantees-item:nth-child(3) {
                margin: 0 0 100px;
            }
        }
    }
}

/*Payment options*/
.payment-options {
    padding: 80px 0;

    .payment-header {
        text-align: center;
        margin: 0 0 80px 0;

        .payment-title {
            font-family: 'Open Sans Bold';
            font-size: 32px;
            color: #333333;
        }
    }

    .payment-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .payment-item {
            width: 300px;
            display: flex;
            align-items: center;

            .payment-item-img {
                margin: 0 40px 0 0;
            }

            .payment-item-text {
                font-size: 18px;
                font-family: 'Open Sans Regular';
                color: #000000;
            }
        }
    }
}

/*Modals*/
.popup, .popup-engineer, .popup-calc, .popup-calc-profile, .popup-calc-end {
    display: none;
}












