*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    max-width: 100%;
}

/*Header*/
header {
    padding: 20px 0;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .header-text {
            font-family: 'Open Sans Regular';
            font-size: 15px;
            color: #0096dc;
        }

        .header-popup-btn {
            width: 170px;
            height: 60px;
            border: 2px solid #58aa35;
            border-radius: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .popup-icon {
                margin: 0 10px 0 15px;
            }

            .popup-btn-text {
                font-family: 'Open Sans Regular';
                font-size: 15px;
                color: #58aa35;
            }
        }

        .work-time {
            display: flex;
            align-items: center;

            .work-time-text {
                margin: 0 0 0 20px;
                font-family: 'Open Sans Regular';
                font-size: 15px;
                color: #333333;

                .work-time {
                    margin: 5px 0 0;
                    font-family: 'Open Sans Semibold';
                    font-size: 18px;
                }
            }
        }

        .contacts {
            text-align: end;

            .phone {
                display: flex;
                align-items: center;
                margin: 0 0 10px;
                .number {
                    font-family: 'Open Sans Bold';
                    font-size: 24px;
                    color: #333333;
                    text-decoration: none;
                    margin: 0 0 0 15px;
                }
            }

            .call-link {
                margin: 10px 0 0;
                font-family: 'Open Sans Regular';
                font-size: 16px;
                color: #0089cc;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

/*Our works*/
.our-works {
    padding: 0 0 60px;

    .our-works-header {
        text-align: center;

        .our-works-title {
            font-family: 'Open Sans Bold';
            font-size: 32px;
            color: #333333;
            margin: 80px auto 30px ;
        }
        
        .our-works-line {
            margin: 0 0 80px;
        }
    }

    .our-works-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .our-works-item {
            position: relative;
            margin: 0 30px 30px 0;
            width: 270px;
            cursor: pointer;

            .zoom-icon {
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                position: absolute;
                display: none;
            }

            .our-works-img {
                width: 100%;
            }
        }
        
        .our-works-item:nth-child(4), .our-works-item:nth-child(8) {
            margin: 0 0 30px 0;
        }

        .our-works-item:hover .zoom-icon {
            display: block;
        }
    }
}

/*Guarantees*/
.guarantees {
    padding: 80px 0;
    background-color: #1192d0;

    .guarantees-header {
        text-align: center;

        .guarantees-title {
            font-family: 'Open Sans Bold';
            font-size: 32px;
            color: #ffffff;
            margin: 0 0 20px 0;
        }

        .guarantees-line {
            margin: 0 0 70px 0;
        }
    }

    .guarantees-body {
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;

        .guarantees-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .guarantees-item {
                width: 33.3%;
                text-align: center;

                .guarantees-text {
                    font-family: 'Open Sans Semibold';
                    color: #ffffff;
                }
            }

            .guarantees-item:nth-child(1), .guarantees-item:nth-child(2), .guarantees-item:nth-child(3) {
                margin: 0 0 100px;
            }
        }
    }
}

/*Payment options*/
.payment-options {
    padding: 80px 0;

    .payment-header {
        text-align: center;
        margin: 0 0 80px 0;

        .payment-title {
            font-family: 'Open Sans Bold';
            font-size: 32px;
            color: #333333;
        }
    }

    .payment-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .payment-item {
            width: 300px;
            display: flex;
            align-items: center;

            .payment-item-img {
                margin: 0 40px 0 0;
            }

            .payment-item-text {
                font-size: 18px;
                font-family: 'Open Sans Regular';
                color: #000000;
            }
        }
    }
}

/*Questions*/
.questions {
    background-color: #00a0eb;
    padding: 80px 0;

    .questions-body {
        margin: 0 auto;
        width: 830px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .questions-title {
            font-family: 'Open Sans Regular';
            font-size: 30px;
            color: #ffffff;
        }

        .questions-link {
            font-family: 'Open Sans Semibold';
            font-size: 30px;
            color: #ffffff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

/*Footer*/
footer {
    padding: 40px 0;

    .footer-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .copyright {
            font-family: 'Open Sans Regular';
            font-size: 16px;
            color: #000000;
        }

        .footer-contacts {
            text-align: end;

            .footer-phone {
                font-family: 'Open Sans Bold';
                font-size: 18px;
                color: #333333;
                text-decoration: none;
            }

            .footer-email {
                font-family: 'Open Sans Regular';
                font-size: 16px;
                margin: 10px 0 0 0;
                color: #42a1db;
            }
        }
    }
}

/*Modals*/
.popup, .popup-engineer, .popup-calc, .popup-calc-profile, .popup-calc-end {
    display: none;
}












